<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Welcome to Housing Market Analysis </title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gray-800">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5 border-bottom-info">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-left">
                <h1 class="h4 text-gray-900 mb-4 font-weight-bolder text-center">Welcome to Housing Market Analysis!</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultrices nisl dui, a pulvinar dui mollis sit amet. Etiam et mauris tempor, tempus lacus lacinia, auctor leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo eros at urna finibus lobortis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec at augue quam. Suspendisse ante neque, convallis tincidunt suscipit non, vestibulum ullamcorper enim. Maecenas non vehicula sapien, nec iaculis justo. 
                </p>
                <p>Nullam malesuada risus sapien, eget mollis est tincidunt vel. Phasellus consequat, felis ac pretium mollis, mi est aliquam odio, ac consequat orci quam non nisi. Nulla quis vehicula est, eu tincidunt magna. Donec eget dui dolor. Duis ac mollis elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed at enim varius, blandit lorem sed, varius augue. Nulla facilisi.
                  </p>
              </div>
              <hr>
              
              <div class="text-center">
                  <a href="/dashboard" class="btn btn-warning text-dark font-weight-bolder">
                      <i class="fas fa-eye text-dark" ></i>  View Dashboard</a>
              </div>

              <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                  <div class="copyright text-center my-auto">
                    <span>Copyright © Team Work <sup>3</sup> Housing Market Analysis 2019</span>
                  </div>
                </div>
              </footer>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

</body>

</html>
